/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote,s q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    border: none;
}



/* 
-------------
---GENERAL---
-------------
*/
body, a{
    font-family: Karla;
    color: #2E2D4E;
}
p {
    font-size: 16px;
}
h1 {
    font-size: 48px;
}
h2 {
    font-size: 42px;
}
h3 {
    font-size: 32px;
}
.bold {
    font-weight: bold;
}
.extra-bold {
    font-weight: 800;
}
.orange {
    color: #E16939;
}
a {
    text-decoration: none;
}
a:hover {
    border-bottom: 0.13em solid #2E2D4E;
    border-radius: 1px;
}

/* 
-------------
---Navigation---
-------------
*/
nav {
    padding-top: 35px;
}
nav ul, .login {
    padding-top: 11px;
}
nav, nav ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    text-align: center;
    height: 32px;
}
nav li{
    margin-right: 30px;
}

/* 
-------------
---Section---
-------------
*/
section {
    text-align: center;
    padding: 2%;
    padding-top: 8%;
}
section p{
    padding: 1% 0 4% 0;
}

/* 
-------------
---Flex-container---
-------------
*/
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 0;

}
.item {
    width: 300px;
}

/* 
-------------
---Hero---
-------------
*/
#hero {
    width: 80%;
    margin: 0 auto;
}
#hero img {
    display: inline-block;
    width: 44%;
}
.left {
    display: inline-block;
    width: 55%;
    text-align: left;
}
.left h1, .left h3 {
    line-height: 52px;
}
.left h3 {
    font-size: 28px;
}
.left p{
    padding: 5% 0;
}
.center {
    margin-top: 5%;
    text-align: center;
}
.large {
    font-size: 58px;
    text-transform: uppercase;
}


/* 
-------------
---BTN---
-------------
*/
button {
    border-radius: 20px;
    padding: 14px 30px;
    background: linear-gradient(90deg, rgba(229,131,92,1) 0%, rgba(226,96,45,1) 100%);
    margin-right: 20px;
}
button a {
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}
button a:hover {
    border: none;
    color: #d6d6d6;
}
/* 
-------------
---Prices---
-------------
*/
#prices .item {
    border-radius: 20px;
    background-color: #F0F1F9;
    padding: 4% 4% 2% 4%;
    box-shadow:inset 0px 0px 12px -7px rgba(0,0,0,0.2);
    
}
.special {
    transform: scale(1.1);
    box-shadow: 0 0 4px 1px rgba(20, 20, 20, 0.1) !important;
}
.sub-item {
    text-align: left;
    margin-left: -15px;
}
/* 
-------------
---Prices Cards---
-------------
*/
.top-card {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: 1px solid #2E2D4E;
    border-radius: 1px;
}
.top-card-text {
    text-align: left;
    line-height: 23px;
}
.price {
    font-size: 36px;
}
#prices button {
    margin-top: 15px;
}
#prices .sub-container {
    margin-top: 10px;
    line-height: 30px;
}
.fa-check-circle {
    color:#E16939;
    padding-right: 10px;
}
#prices .note {
    font-size: 12px;
}
/* 
-------------
---Email---
-------------
*/
.email {
    background-color: #F0F1F9;
    border-radius: 1200px 350px;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    box-shadow: inset 7px 7px 24px -11px rgba(0,0,0,0.1);
}
input {
    border: 1px solid #E16939; 
    border-radius: 20px;
    padding: 14px 30px;
    color: white;
}
input:focus {
    outline: none;
}
input[type="email"] {
    border-right: none;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    background-color: #F0F1F9;
    color: #2E2D4E;
    font-family: Karla;
}
input[type="submit"] {
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    background: linear-gradient(90deg, rgba(229,131,92,1) 0%, rgba(226,96,45,1) 100%);
}
input[type="submit"]:hover {
    background: #E16939;
}

/* 
-------------
---Works + Info icons+text---
-------------
*/
#works li h4, #info li h4 {
    padding: 20px;
}
#works .note h4 {
    padding-bottom: 0;
}
#works li p{
    font-size: 12px;
    color:#969696;
}
#works .item, #info .item {
    width: 20%;
    margin-right: 20px;
}
#works button {
    margin-left: 20px;
}